body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(68, 68, 68);
    text-align: center;
}

H1{
    margin-bottom: 20px;
    font-size: 28px;
    color: #000;

}
.gallery { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    width: 80%;
    max-width: 1000px;
    margin: 20px;
}

.gallery img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
}

h4{
    color: #000;
    text-align: center;

}